* {
    background-color: #ffeedd;
}
h1, h2 {
    color: #6882ff;
    font-size: 1.75em;
}
.index  {
    color: #058181;
    font-size: 1.20em;
}
p {
    color: #1500d6;
    font-size: 1.25em;
}
h4 {
    font-size: 1.17em;
}
